@import url('https://fonts.googleapis.com/css2?family=Judson&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

body {
    font-family: 'Noto Sans SC', sans-serif;

}
:root {
    --background-white1: #f8f9fa;
    /* f8f9fa */
    --background-blue1: #F3F6FB;
    --white: #fff;
}

@media (max-width: 768px) {

    .tab {
        text-align: center;
        /* 在小屏幕上居中 */
    }

    /* .log-container { */
    /* display: none; Hide the log-container by default */
    /* flex: 3; */
    /* height: 100%;  */
    /* } */

    .tab-container {
        display: none;
    }
    .agent-container{
        display: none !important;
    }

    #tender-select {
        display: none;
        /* 在屏幕宽度小于768px时不显示输入框 */
    }

}

@media screen and (min-width: 768px) {

    /* 在大屏幕上的样式 */
    .tab-container {
        display: block;
        /* Show the log-container when the viewport width is greater than 768px */
        flex: 11;
        height: 100%;
        border: 1px solid #ddd;
        border-radius: 8px;
        /* margin: 8px; */
        overflow-y: auto;
        /* Add vertical scroll when content overflows */
        overflow-x: hidden;
        /* Prevent horizontal scroll */
        width: 100%;
        /* Set width to 100% of parent */
        text-align: center;
        /* font-family: Arial, sans-serif; */
        /* Or any font-family of your choice */
        background-color: var(--background-white1);
    }
}
.title {
    font-family: 'Judson', serif;
    margin: 8px;

}
.container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 66px);
    gap: 16px;
    padding: 8px;
    justify-content: space-between;
    background-color: var(--background-blue1);
}
.agent-container {
    flex: 9;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 1px solid #ddd;
    background-color: var(--background-white1);
    border-radius: 8px;
    /* margin: 8px; */
    overflow: hidden; /* Ensure no unintended overflow */
    /* width: 300px; 初始宽度 */
    transition: width 0.3s ease; /* 平滑过渡 */
}
.agent-container.collapsed {
    flex: 2;
    /* width: 102px; 收缩后的宽度 */
}
.tab-container.collapsed {
    flex: 2;
    /* width: 102px; 收缩后的宽度 */
}
.agent-header.collapsed {
    margin: 4px;
}
.file-header.collapsed {
    margin: 4px;
}
.agent-container.collapsed #Workspace {
    display: none; /* 收缩状态下隐藏 */
}
.tab-container.collapsed #file-zone #web-links #search-input{
    display: none; /* 收缩状态下隐藏 */
}
#Workspace {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 4px;
    overflow-y: auto; /* Enable vertical scrolling */
    padding-right: 10px; /* Ensure space for scrollbar */
    flex: 1 1 auto; /* 可伸缩 */
    transition: opacity 0.3s ease; /* 平滑过渡 */
}
/* Optional: Customize scrollbar for better aesthetics */
#Workspace::-webkit-scrollbar {
    width: 10px;
}

#Workspace::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 10px;
}

#Workspace::-webkit-scrollbar-track {
    background-color: #f8f8f8;
}
.agent-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
    flex: 0 0 auto; /* 不可伸缩 */
}
.left-arrow {
    margin-right: 8px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}
.right-arrow {
    margin-right: 8px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}
.agent-container.collapsed .left-arrow {
    transform: rotate(180deg);
}
.tab-container.collapsed .right-arrow {
    transform: rotate(180deg);
}
.rotate {
    transform: rotate(180deg);
    transition: transform 0.5s ease-in-out;
}
.agent-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex: 0 0 auto; /* 不可伸缩 */
}

.avatar {
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    padding: 8px; /* adjust as needed */
    box-sizing: border-box;
}
.agent-container.collapsed .avatar {
    max-width: 80px; /* 收缩后的头像大小 */
    max-height: 80px; /* 收缩后的头像大小 */
}

.search-input {
    width: 90%;
    padding: 8px;
    margin:8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
.file-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
    flex: 0 0 auto; /* 不可伸缩 */
}
.iframe-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 8px;
    flex: 0 0 auto; /* 不可伸缩 */
}
.file-zone, .web-links {
    margin-bottom: 8px;
    padding: 8px;
}

.file-zone-item, .web-item {
    display: flex;
    align-items: center;
    padding: 6px;
    border: 1px solid #F2F5FA;
    border-radius: 4px;
    margin-bottom: 4px;
    border-radius: 4px;
    background-color: #F2F5FA;
}

.file-zone-big-icon {
    margin: 8px;
    font-size: 36px;
    color: #808080; /* 淡黑色 */;
}

.file-name {
    flex: 1;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-actions {
    display: flex;
    gap: 10px;
}
.file-actions a {
    position: relative;
    display: inline-block;
}

.file-actions a img {
    /* 图标颜色改成浅灰色 */
    filter: invert(0.5);
}

.file-actions a::after {
    content: attr(alt); /* 使用图标的alt属性作为文字 */
    position: absolute;
    bottom: -20px; /* 根据需要调整这个值 */
    left: 0;
    right: 0;
    text-align: center;
    visibility: hidden;
}

.file-actions a:hover::after {
    visibility: visible; /* 当鼠标悬浮时显示文字 */
    /* 悬浮时颜色变深 */
    color: #333;
}


.chat-container {
    display: flex;
    flex-direction: column;
    flex: 17;
    height: 100%;
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    /* margin: 8px; */
}

/* 导航栏样式 */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    top: 0;
    background-color: var(--background-white1);
    border-bottom: 1px solid #eee;
    min-height: 42px;
    max-height: 52px;
}

.navbar .tab {
    text-align: left;
    /* 在大屏幕上居左 */
}

.navbar .username {
    background-color: #f9fbfd;
    color: rgb(151, 174, 196);
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
}

#chat-box {
    display: block;
    flex-grow: 1;
    overflow-y: auto;
    /* border: 1px solid #ddd; */
    padding: 10px;
    margin-bottom: 10px;
    /* position: relative; */
}

#chat-input {
    width: calc(100% - 90px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 8px;
    background-color: #f8f9fa;
    flex-grow: 1;
    min-height: 10vh;
    /* 让输入框占用剩余的空间 */
}

#chat-input:focus {
    outline: 2px solid #e6e47c;
    /* Change 'orange' to your preferred color */
}


.chat-container button {
    padding: 10px 20px;
    background-color: #ffffff;
    /* Default white background color */
    color: #000000;
    /* Default black text color */
    border: 2px solid #000000;
    /* Black border */
    border-radius: 8px;
    /* Rounded edges for the pill shape */
    cursor: pointer;
    /* Changes the cursor to a pointer when hovering over the button */
    outline: none;
    /* Removes the outline to keep the style clean */
    transition: background-color 0.2s, transform 0.2s;
    /* Smooth transition for hover effects */
    font-size: 16px;
    /* Adjust the font size as needed */
    font-weight: medium;
    text-align: center;
    /* Center the text inside the button */
    display: inline-block;
    /* Allows setting padding and margins */
    margin: 5px;
    /* Adds some space around the button */
    user-select: none;
    /* Prevents the text in the button from being selectable */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    /* Adds a shadow to give the button depth */
}

.chat-container button:hover {
    background-color: #1a1a1a;
    /* Dark background color on hover */
    color: #ffffff;
    /* Light text color on hover */
    border: 2px solid #000000;
    /* Maintain black border on hover for consistency */
    transform: translateY(-2px);
    /* Gives a small lift to the button when hovered */
}

.chat-container button:active {
    background-color: #333333;
    /* Slightly lighter black when the button is clicked */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    /* Increases the shadow size on click */
    transform: translateY(1px);
    /* Resets the button position when clicked */
}

.chat-container .button-clicked {
    background-color: #333333;
    /* Slightly lighter black when the button is clicked */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    /* Increases the shadow size on click */
    transform: translateY(1px);
    /* Resets the button position when clicked */
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
    width: 97%;
    /* 设置父元素的宽度为100% */
    box-sizing: border-box;
}


/* 下拉菜单样式 */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.background-color {
    background-color: var(--background-white1);
}

/* 用户消息样式 */
.user-message {
    background-color:var(--white);
    /* 浅灰色背景 */
    color: #333;
    /* 文本颜色 */
    text-align: left;
    /* 文本左对齐 */
    margin: 5px 0;
    /* 上下边距 */
    padding: 10px 15px;
    /* 内边距 */
    word-wrap: break-word;
    /* 文本自动换行 */
    border-radius: 18px;
    /* 边角圆滑度 */
    width: fit-content;
    /* 宽度适应内容 */
    max-width: 60%;
    /* 最大宽度 */
    margin-left: auto;
    /* 左边距自动，对齐到右边 */
    clear: both;
    /* 清除浮动 */
}

/* AI消息样式 */
.ai-message {
    background-color: #0078D7;
    /* 蓝色背景 */
    color: white;
    /* 白色文本 */
    text-align: left;
    /* 文本左对齐 */
    margin: 5px 0;
    /* 上下边距 */
    padding: 10px 15px;
    /* 内边距 */
    word-wrap: break-word;
    /* 文本自动换行 */
    border-radius: 18px;
    /* 边角圆滑度 */
    width: fit-content;
    /* 宽度适应内容 */
    max-width: 70%;
    /* 最大宽度 */
    margin-right: auto;
    /* 右边距自动，对齐到左边 */
    clear: both;
    /* 清除浮动 */
    line-height: 1.6;
}

#tender-select {
    position: absolute;
    /* 相对于最近的相对定位祖先元素定位 */
    top: 10px;
    /* 从chat-box顶部的距离 */
    right: 10px;
    /* 从chat-box右边的距离 */
    z-index: 10;
    /* 确保它在chat-box之上 */
    /* Additional styling for the input */
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #ccc;
}

.tab {
    flex-grow: 1;
    /* Allows the tab to grow and fill the space */
    text-align: center;
    /* Centers the text inside the tab */
    position: relative;
    /* Context for the absolute positioning of the pseudo-element */
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 0;
    margin-bottom: -2px;
    font-size: 16px;
    transition: color 0.3s;
    margin-left: 16px;
}

.tab:hover,
.tab.active {
    color: #555;
}

.tab.active {
    font-weight: bold;
}

/* The red underline for the active tab */
.tab.active:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    /* Underline will span the full width of the tab */
    height: 3px;
    background-color: #e6e47c;
}

.tab-content {
    display: none;
    /* Other styles for your content area */
}

.tab-content.active {
    display: block;
    text-align: left;
    margin: 8px;
}
.message-header-left {
    font-size: 0.8em;
    color: #888;
    margin-bottom: 5px;
    text-align: left;
}
.message-header-right {
    font-size: 0.8em;
    color: #888;
    margin-bottom: 5px;
    text-align: right;
}