@import url('https://fonts.googleapis.com/css2?family=Judson&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

body {
    font-family: 'Noto Sans SC', sans-serif;
    background-color: var(--background1);
    /* 字体颜色 */
    color: var(--text);

}

.theme-dark {
    /* 默认颜色方案 */
    --background1: #f8f9fa; /* 浅灰色 */
    --background2: #F3F6FB; /* 浅蓝色 */
    --text:#333;
    --border:#ddd;
    --scrollbar: #e2e2e2;
    --scrollbarbg:#f8f8f8;

    --list:#F2F5FA;
    --navtext:#9cacbc;
    --inputfocus:#e6e47c;
    /* button */
    --butbg:#fff;
    --buttext:#000;
    --buthover:#1a1a1a;
    /* chat  */
    --userbg:#fff;
    --usertext:#333;
    --aibg:#0078D7;
    --aitext:#fff;
}

/* 深色主题样式，当checkbox被选中时应用 */
:root {
    /* 暗色主题颜色方案 */
    --background1: #333; /* 深灰色 */
    --background2: #1A202C; /* 深蓝色 */
    --text:#cbcbcb;
    --border:#222222;
    --scrollbar: #3a3a3a;
    --scrollbarbg:#2b2b2b;

    --list:#34373e;
    --navtext:#9cacbc;
    --inputfocus:#bebc46;
    /* button */
    --butbg:#2d2d2d;
    --buttext:#fff;
    --buthover:#535353;
    /* chat  */
    --userbg:#4e4e4e;
    --usertext:#e4e4e4;
    --aibg:#4e4e4e;
    --aitext:#fff;
    
}

@media (max-width: 768px) {
    .tab {
        text-align: center;
        /* 在小屏幕上居中 */
    }
    .file-container {
        display: none;
    }
    .agent-container {
        display: none !important;
    }
    #tender-select {
        display: none;
        /* 在屏幕宽度小于768px时不显示输入框 */
    }
}

@media screen and (min-width: 768px) {

    /* 在大屏幕上的样式 */
    .file-container {
        display: none;
        flex: 11;
        height: 100%;
        border: 1px solid var(--border);
        border-radius: 8px;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        text-align: center;
        background-color: var(--background1);
    }
}

.title {
    font-family: 'Judson', serif;
    margin: 8px;
    
    font-size: 24px;
}

.container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 66px);
    gap: 16px;
    padding: 8px;
    justify-content: space-between;
    background-color: var(--background-blue1);
}

.agent-container {
    flex: 9;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 1px solid var(--border);
    background-color: var(--background1);
    border-radius: 8px;
    overflow: hidden;
    transition: width 0.3s ease;
}

.agent-container.collapsed {
    flex: 2;
}

.file-container.collapsed {
    flex: 2;
}

.agent-header.collapsed {
    margin: 4px;
}

.file-header.collapsed {
    margin: 4px;
}

.agent-container.collapsed #Workspace {
    display: none;
}

.file-container.collapsed #file-zone #web-links #search-input {
    display: none;
}

#Workspace {
    background-color: var(--background1);
    padding: 20px;
    border-radius: 4px;
    overflow-y: auto;
    /* Enable vertical scrolling */
    padding-right: 10px;
    /* Ensure space for scrollbar */
    flex: 1 1 auto;
    /* 可伸缩 */
    transition: opacity 0.3s ease;
    /* 平滑过渡 */
}

/* Optional: Customize scrollbar for better aesthetics */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar);/* 滑块颜色 */
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--scrollbarbg);/* 轨道颜色 */
}

.agent-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
    flex: 0 0 auto;
    /* 不可伸缩 */
}

.left-arrow {
    margin-right: 8px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.right-arrow {
    margin-right: 8px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.agent-container.collapsed .left-arrow {
    transform: rotate(180deg);
}

.file-container.collapsed .right-arrow {
    transform: rotate(180deg);
}

.rotate {
    transform: rotate(180deg);
    transition: transform 0.5s ease-in-out;
}

.agent-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex: 0 0 auto;
    /* 不可伸缩 */
}

.avatar {
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    padding: 8px;
    box-sizing: border-box;
}

.agent-container.collapsed .avatar {
    max-width: 80px;
    max-height: 80px;
}

.search-input {
    width: 90%;
    padding: 8px;
    margin: 8px;
    border: 1px solid var(--border);
    border-radius: 4px;
    box-sizing: border-box;
}

.file-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
    flex: 0 0 auto;
}

.iframe-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 8px;
    flex: 0 0 auto;
}

.file-zone,
.web-links {
    margin-bottom: 8px;
    padding: 8px;
}

.file-zone-item,
.web-item {
    display: flex;
    align-items: center;
    padding: 6px;
    border: 1px solid var(--list);
    border-radius: 4px;
    margin-bottom: 4px;
    border-radius: 4px;
    background-color: var(--list);
}

.file-zone-big-icon {
    margin: 8px;
    font-size: 36px;
    /* color: #808080; */
    /* 淡黑色 */
    ;
}

.file-name {
    flex: 1;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.file-actions {
    display: flex;
    gap: 10px;
}

.file-actions a {
    position: relative;
    display: inline-block;
}

.file-actions a img {
    filter: invert(0.5);
}

.file-actions a::after {
    content: attr(alt);
    /* 使用图标的alt属性作为文字 */
    position: absolute;
    bottom: -20px;
    /* 根据需要调整这个值 */
    left: 0;
    right: 0;
    text-align: center;
    visibility: hidden;
}

.file-actions a:hover::after {
    visibility: visible;
    /* 当鼠标悬浮时显示文字 */
    /* 悬浮时颜色变深 */
    color: #333;
}


.chat-container {
    display: flex;
    flex-direction: column;
    flex: 17;
    height: 100%;
    border-radius: 8px;
}

/* 导航栏样式 */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    top: 0;
    background-color: var(--background1);
    border-bottom: 1px solid var(--background1);
    min-height: 42px;
    max-height: 52px;
}

.navbar .tab {
    flex-grow: 1; /* 让标题占据多余空间，但仍然靠左 */
    text-align: left;
    padding-left: 16px;
    /* 在大屏幕上居左 */
}

.navbar .username {
    background-color: var(--background1);
    color: var(--navtext);
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
}

#chat-box {
    display: block;
    flex-grow: 1;
    overflow-y: auto;
    /* border: 1px solid #ddd; */
    padding: 10px;
    margin-bottom: 10px;
    /* position: relative; */
}

#chat-input {
    width: calc(100% - 90px);
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 8px;
    margin: 8px;
    background-color: var(--background1);
    flex-grow: 1;
    min-height: 10vh;
    /* 让输入框占用剩余的空间 */
}

#chat-input:focus {
    outline: 2px solid var(--inputfocus);
    /* Change 'orange' to your preferred color */
}


.chat-container button {
    padding: 10px 20px;
    background-color: var(--butbg);
    color: var(--buttext);
    border: 2px solid var(--buttext);
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s, transform 0.2s;
    font-size: 16px;
    font-weight: medium;
    text-align: center;
    display: inline-block;
    margin: 5px;
    user-select: none;
    box-shadow: 0 1px 1px var(--buttext);
}

.chat-container button:hover {
    background-color: var(--buthover);
    /* Dark background color on hover */
    color: #ffffff;
    /* Light text color on hover */
    border: 2px solid var(--buttext);
    /* Maintain black border on hover for consistency */
    transform: translateY(-2px);
    /* Gives a small lift to the button when hovered */
}

.chat-container button:active {
    background-color: #333333;
    /* Slightly lighter black when the button is clicked */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    /* Increases the shadow size on click */
    transform: translateY(1px);
    /* Resets the button position when clicked */
}

.chat-container .button-clicked {
    background-color: #333333;
    /* Slightly lighter black when the button is clicked */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    /* Increases the shadow size on click */
    transform: translateY(1px);
    /* Resets the button position when clicked */
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
    width: 97%;
    /* 设置父元素的宽度为100% */
    box-sizing: border-box;
}


/* 下拉菜单样式 */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--background1);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* 用户消息样式 */
.user-message {
    background-color: var(--userbg);
    /* 浅灰色背景 */
    color: var(--usertext);
    /* 文本颜色 */
    text-align: left;
    /* 文本左对齐 */
    margin: 5px 0;
    /* 上下边距 */
    padding: 10px 15px;
    /* 内边距 */
    word-wrap: break-word;
    /* 文本自动换行 */
    border-radius: 18px;
    /* 边角圆滑度 */
    width: fit-content;
    /* 宽度适应内容 */
    max-width: 60%;
    /* 最大宽度 */
    margin-left: auto;
    /* 左边距自动，对齐到右边 */
    clear: both;
    /* 清除浮动 */
}

/* AI消息样式 */
.ai-message {
    background-color: var(--aibg);
    /* 蓝色背景 */
    color: var(--aitext);
    /* 白色文本 */
    text-align: left;
    /* 文本左对齐 */
    margin: 5px 0;
    /* 上下边距 */
    padding: 10px 15px;
    /* 内边距 */
    word-wrap: break-word;
    /* 文本自动换行 */
    border-radius: 18px;
    /* 边角圆滑度 */
    width: fit-content;
    /* 宽度适应内容 */
    max-width: 70%;
    /* 最大宽度 */
    margin-right: auto;
    /* 右边距自动，对齐到左边 */
    clear: both;
    /* 清除浮动 */
    line-height: 1.6;
}


/* .tab { */
    /* flex-grow: 1;
    text-align: center;
    position: relative; */
    /* background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 0;
    margin-bottom: -2px;
    font-size: 16px;
    transition: color 0.3s;
    margin-left: 16px; */
/* } */
