<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
</head>
<body>
    <div class="background-color">
        <!-- 导航栏 -->
        <nav class="navbar">
            <div class="tab">对话：<span class="date"></span></div>
            <div class="dropdown">
                <a href="#" class="username dropdown-toggle">{{ session['username'] }}</a>
                <div class="dropdown-menu"> <!-- 下拉菜单内容 -->
                    <a href="{{ url_for('logout') }}">退出登录</a>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="chat-container">
                <div id="chat-box" >
                    <!-- userinput和ai 消息对话展示区域 -->
                </div>
                <div class="input-container">
                    <textarea id="chat-input" placeholder="请输入...(shift+enter可换行) "
                        onkeydown="if (event.key === 'Enter' && !event.shiftKey) { event.preventDefault(); sendMessage(); }"></textarea>
                    <button onclick="sendMessage()" class="button">发送</button>
                </div>
            </div>
            <div id="tab-container" class="tab-container">
                <div class="tabs">
                    <button class="tab" onclick="openTab(event, 'Workspace')">机器人日志</button>
                    <button class="tab" onclick="openTab(event, 'Detail')">标讯详情</button>
                    <button class="tab" onclick="openTab(event, 'Web')">网页工具</button>
                </div>

                <div id="log-container" class="log-container">
                    <div id="Workspace" class="tab-content">
                        <!-- Workspace content will show here -->
                    </div>
                    <div id="Detail" class="tab-content">
                        <!-- Detail content will show here -->
                    </div>
                    <div id="Web" class="tab-content">
                        <!-- Web content will show here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>